body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #c6c6c6;
}

/* Typography */

p {
    margin: 0;
}

/* Layout */

.nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 1.6em;
    border-bottom: 2px solid #c6c6c6;
}

.nav,
.post {
    background-color: #fff;
}

.site-logo {
    width: 45%;
    max-width: 210px;
}

.avatar {
    width: 10%;
    max-width: 65px;
    border-radius: 50%;
}

.post {
    padding-bottom: 0.8em;
    margin-bottom: 1em;
}

.post-heading {
    width: 45%;
    display: flex;
    align-items: center;
    gap: 0.8em;
   padding: 0.8em 1.2em;
}

.post-author-avatar {
    width: 43px;
    border-radius: 50%;
}

.post-author-location {
    font-size: 0.9rem;
}

.post-img {
    display: block;
    width: 100%;
    cursor: pointer;
}

.post-reactions {
    padding: 1em 1.2em 0;
}

.post-icons {
    width: 25px;
    margin-right: 6px;
}

.post-icons:hover {
    opacity: 0.6;
    cursor: pointer;
}

.post-likes,
.post-caption {
    margin-top: 0.8em;
    padding-left: 1.2em;
} 

.post-author-name,
.post-likes,
.post-author-username {
    font-weight: 700;
}
    
/* Media-Queries */

@media (min-width: 490px) {
    .nav,
    .post {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

} 